{include file="public/_meta"}
<title>管理员列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form action="{:url('news/index')}" method="post">
		<div class="text-c">
			类别搜索：
		<span class="select-box" style="width: 100px">
		  <select class="select" size="1" name="catid" >
			<option value="0" selected>请选择类目</option>
			  {volist name="cats" id="vo"}
				<option value="{$key}"
				{if condition="$catid eq $key"}selected{/if}
				>{$vo}</option>
			  {/volist}
		  </select>
		</span>
			日期范围：
			{literal}
			<input type="text" name="start_time" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
			-
			<input type="text" name="end_time" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
			{/literal}
			<input type="text"  class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="title" value="{$title}">
			<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
		</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="admin_add('添加管理员','admin-add.html','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a></span> <span class="r">共有数据：<strong>{$total}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">员工列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th>标题</th>
				<th width="150">分类</th>
				<th width="90">缩图</th>
				<th width="150">更新时间</th>
				<th>是否推荐</th>
				<th width="130">发布状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		{volist name="$news" id="vo"}
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>{$vo['id']}</td>
				<td>{$vo['title']}</td>
				<td>{$vo.catid|getCatName}</td>
				<td>{$vo['image']}</td>
				<td>{$vo['update_time']}</td>
				<td>{$vo.is_allowcomments|isYesNo}</td>
				<td>{$vo.status}</td>
				<td class="td-manage"><a style="text-decoration:none" onClick="admin_stop(this,'10001')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> <a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','admin-add.html','1','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
		{/volist}
		</tbody>
	</table>
	<div id="laypage"></div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/_footer"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/hadmin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(function() {
        var url = "{:url('news/index')}"+'?'
        laypage({
            cont: 'laypage', //容器。值支持id名、原生dom对象，jquery对象,
            pages: '{$pageTotal}', //总页数
            skin: '#5FB878', //皮肤
            curr: '{$curr}',
            jump: function (e, first) { //触发分页后的回调
                if (!first) { //一定要加此判断，否则初始时会无限刷新
                    //alert(url+'?page='+e.curr);
                    location.href = url+'page='+e.curr;
                }
            }
        });
        /*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/

        /*管理员-增加*/
        function admin_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        /*管理员-删除*/
        function admin_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '',
                    dataType: 'json',
                    success: function (data) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {icon: 1, time: 1000});
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }

        /*管理员-编辑*/
        function admin_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
    })
</script>
</body>
</html>